/* .new-tweet output:hover {
  animation: flash 0.2 ease-out delay forwards;
} */

.warning-info {
  display: none;
  color: rgb(130, 0, 0);
  font-weight: 400;
  text-align: center;
}

.warning-info i {
  padding-inline-end: 1rem;
  padding-inline-start: 1rem;
  animation: flash 1s ease-in-out infinite forwards;
}

@keyframes flash {
  0% {
    color: red;
  }
  50% {
    color: #f9bd3c;
  }
  100% {
    color: red;
  }
}

#new-tweet {
  cursor: pointer;
}

#new-tweet-sec {
  display: none;
}

#tweet-container {
  height: 100%;
  background-color: #94a5a6;
  background-image: url(http://www.transparenttextures.com/patterns/asfalt-light.png);
}

#wrapper {
  height: max-content;
}

.tweet-content {
  border: 2px rgb(60, 60, 60) solid;
  margin: 2rem 0;
}

.tweet-content:hover {
  box-shadow: 8px 8px gray;
}

.tweet-content header {
  width: 98%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  margin-block-end: 2rem;
}

.tweet-content footer {
  display: flex;
  justify-content: space-between;
  width: 98%;
  margin: 0 auto;
  padding: 1rem;
}

.tweet-content footer div i {
  padding: 0 0.2rem;
}

.tweet-content footer div i:hover {
  color: #f9bd3c;
}

#tweet-content-name-img {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#tweet-content-name-img img {
  margin-inline-end: 1rem;
}

#tweet-content-name {
  color: gray;
}

.tweet-text {
  border-block-end: 3px rgb(60, 60, 60) solid;
  width: 98%;
  margin: 0 auto;
  padding: 1rem;
  padding-block-start: 0;
  overflow-wrap: break-word;
}
